@model List<Domain.ViewModels.ProductViewModel>

@foreach(var product in Model)
{
    <div>
        <p>Product Name: @product.ProductName</p>
        <p>Product Price: @product.ProductPrice</p>
    </div>
}