@model List<Domain.ViewModels.ProductViewModel>

<div class="row">
@foreach(var product in Model)
{
    <div class="col-md-3">
        <h2>@product.ProductModel.ProductName</h2>
        <p>Price: @product.ProductModel.ProductPrice</p>
        <div>
            <h3>Characteristics: </h3>
           @foreach(var charactristic in product.CharactristicModels)
            {
               <p>@charactristic.CharacteristicName: &nbsp; @charactristic.CharacteristicValue;</p>
            }
        </div>
    </div>
}
</div>