@model string
<div class="col" style="text-align: center">
    <h1>Please verifide your email:</h1>
    <h4>We are send verification imail on {@Model} address, please come to this and follow the confirmaion link</h4>
</div>